<div class="client-list__component main__component">
  <div class="main__component__header display-flex display-flex-row">
    <h3 class="display-flex-1">Основная информация:</h3>
  </div>
  <div class="main__component__body">
    <article>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem deserunt dolore mollitia repellendus
        rerum sunt veritatis. A atque eligendi enim eum hic iste nam nihil odio omnis, pariatur voluptatum!
      </div>
      <div>A aliquid consequatur, ducimus earum fugiat hic illum maxime molestias veniam voluptatem? Accusamus aut
        corporis culpa ducimus excepturi facilis id molestiae mollitia nemo non obcaecati odit, perspiciatis quas
        ratione sunt?
      </div>
      <div>Adipisci animi architecto aspernatur dicta dolorem dolores, dolorum ducimus enim eos, est ex expedita id iste
        laborum nam necessitatibus nostrum, numquam praesentium qui rem repellendus sint suscipit tempore ut voluptates.
      </div>
    </article>
  </div>
</div>
