<div class="comment__component">
  <!--<div class="comment__avatar-block" style="background-image: url('../../../assets/images/logo-small.png')"></div>-->
  <div class="comment__content-block">
    <h4 class="comment_author-block">Автор комментария</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem consectetur debitis distinctio, eos laborum maxime nam nesciunt numquam, officiis omnis praesentium quia rem, sequi voluptatem! Aut blanditiis nam voluptatibus!
  </div>
</div>
