<div class="client-view__component__activities-list__item">
  <article>
    {{activity ? activity.description : ''}}
  </article>
  <dl>
    <dt>Вид активности:</dt>
    <dd>{{activity ? activity.type_title : ''}}</dd>

    <dt>Автор:</dt>
    <dd><a href="#">{{activity ? activity.employee.fullname : ''}}</a></dd>

    <dt>Дата создания:</dt>
    <dd>{{activity ? activity.string_datetime_created : ''}}</dd>

    <dt *ngIf="activity && activity.document">Прикрепленный файл:</dt>
    <dd *ngIf="activity && activity.document">
      <a accept="text/plain,application/pdf,application/excel,application/vnd.ms-excel,application/msword,image/jpeg,image/png,image/gif,application/powerpoint,text/html" [href]="activity.document" target="_blank" >Скачать</a>
    </dd>

    <dt>Действия:</dt>
    <dd>
      <button class="button-help" (click)="showEditModal(activity)" pTooltip="Редактирование выбранной активности">Редактировать</button>
      <button class="button-help mt-small" (click)="showTransitActivityModal()" *ngIf="activity && !activity.deal?.id">Перенести активность</button>
    </dd>
  </dl>
</div>

<app-modal-standard #modalActivityEdit [title]="'Редактирование активности'">
  <app-edit-activity #activityEditMainComponent (onUpdate)="onEditActivity($event)"></app-edit-activity>
</app-modal-standard>

<app-modal-standard #modalActivityTransit [title]="'Перенести активность в проект'">
  <app-deal-select #dealSelectComponent (onSetDeal)="transitActivity($event)"></app-deal-select>
</app-modal-standard>
