<div class="main-header__component">
  <div class="grid-row">
    <!--<form class="col-sm-1 col-md-2 col-lg-2 display-flex display-flex-middle hide-small">-->
      <!--<label class="search_label">-->
        <!--Поиск в-->
        <!--<select name="search_select" id="search_select">-->
          <!--<option value="">Контактах</option>-->
          <!--<option value="">Задачах</option>-->
          <!--<option value="">Продуктах</option>-->
        <!--</select>-->
      <!--</label>-->

      <!--<input type="text" placeholder="Ваш запрос...">-->

      <!--<button type="submit">-->
        <!--<span class="oi" data-glyph="zoom-in"></span>-->
      <!--</button>-->
    <!--</form>-->
    <div class="col-sm-1 col-md-1 col-lg-1 display-flex display-flex-middle display-flex-right helper-header-panel">
      <!--<a class="fast-task" href="">-->
        <!--<span class="oi" data-glyph="task"></span>-->
      <!--</a>-->
      <!--<a class="fast-client" href="">-->
        <!--<span class="oi" data-glyph="plus"></span>-->
      <!--</a>-->
      <!--<a href="" class="fast-union-client">-->
        <!--<span class="oi" data-glyph="loop"></span>-->
      <!--</a>-->

      <div class="avatar-small-header" [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}">

      </div>

      <a class="fast-cabinet-link" [routerLink]="'/profile'">{{user.user.first_name + ' ' + user.user.last_name}}</a>

      <a href="" class="fast-logout-link">
        <span class="oi" data-glyph="account-logout"></span>
      </a>
    </div>
  </div>
</div>
