<div class="col-sm-1 col-md-2 col-lg-2">
  <div class="client-list__component main__component">
    <div class="main__component__header display-flex display-flex-row">
      <h3 class="display-flex-1">Заявки:</h3>
    </div>
    <form class="main__component__helper-panel">
      <select (change)="changeCompany($event)" name="company_filter" [(ngModel)]="currentCompany">
        <option value="" disabled selected>-- Компания --</option>
        <option *ngFor="let c of user.company" [ngValue]="c.id">{{c.title}}</option>
      </select>
      <select name="filterType" [(ngModel)]="filterType">
        <option value="" disabled selected>-- Выберите тип фильтрации --</option>
        <option [ngValue]="'all'">Все заявки</option>
        <option [ngValue]="'my'">Мои заявки</option>
      </select>
    </form>
    <div class="main__component__body">
      <ul class="client-list__component__list">
        <li *ngFor="let item of coldClients" (click)="setCurrentColdClient(item)">
          <a>{{item.fullname}}
            <span class="new-caption__helper" *ngIf="!item.was_processed">Не обработана</span>
            <span class="new-caption__helper user_badge" *ngIf="item.was_processed && item.employee && item.employee.fullname">{{item.employee.fullname}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-1 col-md-2 col-lg-2">
  <app-site-request-single *ngIf="currentColdClient" [currentColdClient]="currentColdClient" (onSetMyClient)="refreshColdClient($event)"></app-site-request-single>
</div>

