<div class="grid-wrapper">
  <div class="grid-nav">
    <app-navigation></app-navigation>
  </div>
  <div class="grid-aside">
    <div class="grid-header">
      <app-header></app-header>
    </div>
    <div class="grid-content display-flex ">
      <div class="grid-row">
        <div class="client-view__component main__component">
          <div class="main__component__header display-flex display-flex-row">
            <h3 class="display-flex-1">Личный кабинет</h3>
          </div>
          <div class="main__component__body">
            <div class="grid-row height-100">
              <div class="col-sm-1 col-md-5 col-lg-5">
                <dl class="client-view__component__list">

                  <dt>Аватар:</dt>
                  <dd class="helper-text-center">
                    <img class="simple-avatar-image" *ngIf="user.avatar" [src]="user?.avatar" [alt]="user?.user.email+' avatar'">
                  </dd>

                  <dt>Ф.И.О:</dt>
                  <dd>{{user?.user.first_name + ' ' + user?.user.last_name}}</dd>

                  <dt>Email-адрес:</dt>
                  <dd>{{user?.user.email}}</dd>

                  <dt>Пол:</dt>
                  <dd>{{user?.genderString}}</dd>
                </dl>
                <button class="button-standard" (click)="showUploadModal()">Изменить фото </button>

                <button class="button-standard mt-small" (click)="openChangePasswordModal()">Сменить пароль</button>
              </div>
              <div class="col-sm-1 col-md-5 col-lg-5">
                <div class="client-view__component__list">
                  <dt>Компании, в которые я имею доступ:</dt>
                  <dd >
                    <span style="display: block" *ngFor="let c of user?.company">{{c.title}}</span>
                  </dd>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-standard #uploadAvatarModal [title]="'Загрузить новое фото'">
  <button class="button-standard" (click)="updateImage()">Загрузить фото</button>
  <div class="file-upload">
    <span class="text">upload</span>
    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
  </div>
  <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
</app-modal-standard>

<app-modal-standard #changePasswordModal [title]="'Сменить пароль текущему пользователю'">
  <form class="deal-add__component" (submit)="changePassword($event)">
    <div class="form-row">
      <label for="changedPassword">Новый пароль:</label>
      <input class="input-add"
             [(ngModel)]="changedPassword"
             id="changedPassword"
             name="changedPassword"
             type="password"
             pPassword
             [weakLabel]="'Слабый пароль'"
             [mediumLabel]="'Средний пароль'"
             [strongLabel]="'Сложный пароль'"
             [feedback]="true"
             placeholder="Введите новый пароль">
    </div>
    <div class="form-row">
      <label for="changedRepeatPassword">Повторите новый пароль:</label>
      <input class="input-add"
             [(ngModel)]="changedRepeatPassword"
             id="changedRepeatPassword"
             name="changedRepeatPassword"
             type="password"
             pPassword
             [weakLabel]="'Слабый пароль'"
             [mediumLabel]="'Средний пароль'"
             [strongLabel]="'Сложный пароль'"
             [feedback]="true"
             placeholder="Повторите новый пароль">
    </div>
    <div class="error-block">
      <span *ngIf="correctRepeatPassword()">
        Пароли должны совпадать <br>
        Длина пароля должна быть не меньше 10 символов
      </span>
    </div>
    <div class="form-row">
      <input [disabled]="correctRepeatPassword()" class="button-standard" type="submit" value="Сменить пароль">
    </div>
  </form>
</app-modal-standard>
