<div class="grid-row">
  <div class="col-sm-1 col-md-2 col-lg-2">
    <div class="client-view__component main__component">
      <div class="main__component__header display-flex display-flex-row">
        <h3 class="display-flex-1">Описание сделки</h3>
        <button class="main__component__header__helper-button"><span class="oi" data-glyph="pencil"></span></button>
      </div>
      <div class="main__component__body">
        <div class="grid-row height-100">
          <div class="col-sm-1 col-md-2 col-lg-2">
            <dl class="client-view__component__list">
              <dt>Наименование сделки:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.title}}</dd>

              <dt>Клиент:</dt>
              <dd *ngIf="currentDeal"><a [routerLink]="'/contacts/main/'+currentDeal.client.id">{{currentDeal.client.title}}</a></dd>

              <dt>Статус сделки:</dt>
              <dd *ngIf="currentDeal" [ngSwitch]="currentDeal.status">
                <span *ngSwitchCase="'in_process'">В работе</span>
                <span *ngSwitchCase="'failed'">Провалена</span>
                <span *ngSwitchCase="'completed'">Завершена</span>
              </dd>

              <dt>Сумма сделки:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.total}}</dd>

              <dt >Описание сделки:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.description}}</dd>

              <dt>Дата создания сделки:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.datetime_created_format}}</dd>

              <dt>Автор сделки:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.employee.fullname}}</dd>

            </dl>
          </div>
          <div class="col-sm-1 col-md-2 col-lg-2 overflow-y">
            <div class="client-view__component__activities-list">
              <button class="button-standard" (click)="showModalAdd()">Добавить активность</button>
              <div *ngFor="let activity of activitiesOfCurrentDeal"  class="client-view__component__activities-list__item">
                <article>
                  {{activity.description}}
                </article>
                <dl>
                  <dt>Вид активности:</dt>
                  <dd>{{activity.type_title}}</dd>

                  <dt>Автор:</dt>
                  <dd><a href="#">{{activity.employee.fullname}}</a></dd>

                  <dt>Дата создания:</dt>
                  <dd>{{activity.string_datetime_created}}</dd>

                  <dt *ngIf="activity.document">Прикрепленный файл:</dt>
                  <dd *ngIf="activity.document" ><a [href]="activity.document" target="_blank">Скачать</a></dd>

                  <dt>Действия:</dt>
                  <dd>
                    <button class="button-help" (click)="showEditModal(activity)">Редактировать</button>
                  </dd>
                </dl>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-2 col-lg-2">
    2
  </div>

</div>

<app-modal-standard #activityAddModal [title]="'Добавить активность к текущей сделке'">
  <app-activity-add #activityAddComponent (onCreate)="afterCreateActivity($event)"></app-activity-add>
</app-modal-standard>

<app-modal-standard #activityEditModal [title]="'Редактирование активности в текущей сделке'">
  <app-edit-activity #activityEditComponent (onUpdate)="afterEditActivity($event)"></app-edit-activity>
</app-modal-standard>
