<div class="grid-row">
  <div class="col-sm-1 col-md-2 col-lg-2">
    <div class="client-view__component main__component">
      <div class="main__component__header display-flex display-flex-row">
        <h3 class="display-flex-1">Описание проекта</h3>
        <button class="main__component__header__helper-button"><span class="oi" data-glyph="pencil"></span></button>
      </div>
      <div class="main__component__body">
        <div class="grid-row height-100">
          <div class="col-sm-1 col-md-2 col-lg-2">
            <dl class="client-view__component__list">
              <dt>Наименование проекта:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.title}}</dd>

              <dt>Клиент:</dt>
              <dd *ngIf="currentDeal"><a [routerLink]="'/contacts/main/'+currentDeal.client.id">{{currentDeal.client.title}}</a></dd>

              <dt>Статус проекта:</dt>
              <dd *ngIf="currentDeal" [ngSwitch]="currentDeal.status">
                <span *ngSwitchCase="'in_process'">В работе</span>
                <span *ngSwitchCase="'failed'">Провалена</span>
                <span *ngSwitchCase="'completed'">Завершена</span>
              </dd>

              <dt>Сумма проекта:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.total}}</dd>

              <dt >Описание проекта:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.description}}</dd>

              <dt>Дата создания проекта:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.datetime_created_format}}</dd>

              <dt>Автор проекта:</dt>
              <dd *ngIf="currentDeal">{{currentDeal.employee.fullname}}</dd>

            </dl>
          </div>
          <div class="col-sm-1 col-md-2 col-lg-2 overflow-y">
            <div class="client-view__component__activities-list">
              <button class="button-help" (click)="showModalCloseDeal()">Закрыть проект</button>
              <button class="button-standard mt-small" (click)="showModalAdd()">Добавить активность</button>
              <div *ngFor="let activity of activitiesOfCurrentDeal"  class="client-view__component__activities-list__item">
                <article>
                  {{activity.description}}
                </article>
                <dl>
                  <dt>Вид активности:</dt>
                  <dd>{{activity.type_title}}</dd>

                  <dt>Автор:</dt>
                  <dd><a href="#">{{activity.employee.fullname}}</a></dd>

                  <dt>Дата создания:</dt>
                  <dd>{{activity.string_datetime_created}}</dd>

                  <dt *ngIf="activity.document">Прикрепленный файл:</dt>
                  <dd *ngIf="activity.document" ><a [href]="activity.document" target="_blank">Скачать</a></dd>

                  <dt>Действия:</dt>
                  <dd>
                    <button class="button-help" (click)="showEditModal(activity)">Редактировать</button>
                  </dd>
                </dl>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-2 col-lg-2">
    <div class="client-view__component main__component">
      <div class="main__component__header display-flex display-flex-row">
        <h3 class="display-flex-1">Продукты проекта:</h3>
        <button *ngIf="_companyID" class="main__component__header__helper-button" (click)="showProductsModal(_companyID)"><span class="oi" data-glyph="plus"></span></button>
      </div>
      <div class="main__component__body">
        <div class="grid-row height-100">
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div class="overflow-container">
              <table class="table-main">
                <caption></caption>
                <thead>
                  <tr>
                    <th>Индекс</th>
                    <th>Бренд</th>
                    <th>Наименование</th>
                    <th>Стоимость</th>
                    <th>Валюта</th>
                    <th>Действия</th>
                  </tr>
                </thead>
                <tbody *ngIf="currentDeal">
                  <tr *ngFor="let product of currentDeal.product; let i = index">
                    <td>{{i}}</td>
                    <td>{{product.brand_title}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.total}}</td>
                    <td>{{product.currency}}</td>
                    <td>
                      <button class="button-danger" (click)="deleteProduct(product.id)">Удалить</button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Индекс</th>
                    <td>Бренд</td>
                    <td>Наименование</td>
                    <td>Стоимость</td>
                    <td>Валюта</td>
                    <td>Действия</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-modal-standard #activityAddModal [title]="'Добавить активность к текущему проекту'">
  <app-activity-add #activityAddComponent (onCreate)="afterCreateActivity($event)"></app-activity-add>
</app-modal-standard>

<app-modal-standard #activityEditModal [title]="'Редактирование активности в текущем проекте'">
  <app-edit-activity #activityEditComponent (onUpdate)="afterEditActivity($event)"></app-edit-activity>
</app-modal-standard>

<app-modal-standard #productAddModal [title]="'Добавить продукт к текущему проекту'">
  <app-product-list #productListComponent (onSetProduct)="addProductToDeal($event)"></app-product-list>
</app-modal-standard>

<app-modal-standard #closeDealModal [title]="'Закрыть текущий проект?'">
  <form class="activity-add__component">
    <p-toggleButton onLabel="Успешно завершен" offLabel="Провален"
                    onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
    <div class="form-row">
      <label for="activity-add-description">Описание активности</label>
      <textarea class="textarea-add" id="activity-add-description" rows="10"></textarea>
    </div>
    <div class="form-row">
      <input type="submit" value="Закрыть проект" class="button-standard">
    </div>
  </form>
</app-modal-standard>
