<div class="client-list__component main__component">
  <div class="main__component__header display-flex display-flex-row">
    <h3 class="display-flex-1">Страница помощи по CRM SalesMaster</h3>
  </div>
  <div class="main__component__body">
    <div class="grid-row">
      <div class="col-sm-1 col-md-2 col-lg-2">
        <iframe width="100%" height="380" src="https://www.youtube.com/embed/j0PhRI-rDnU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <article class="help-article">
          Данное видео поможет Вам ознакомиться с принципами работы в CRM SalesMaster.
          В трансляции полностью показаны возможности CRM, а также присутствуют ответы на популярные и частые вопросы,
          касательно функционала и возможностей системы.
          Также вы можете скачать инструкцию по пользованию CRM Salesmaster по данной ссылке - <a download href="../../../assets/docs/salesmaster_crm_v3_instruction.docx">инструкция по CRM</a>
        </article>
      </div>
      <div class="col-sm-1 col-md-2 col-lg-2">
        <div class="help_contacts_block">
          <h3>Контакты:</h3>

          <dl>
            <dt>Frontend-разработчик: <span>Егор Кулик</span></dt>
            <dd>
              Телефон: <a href="tel:+77779505798">+7 (777) 950-57-98</a> <br>
              Email: <a href="mailto:crm@ordamed.kz">crm@ordamed.kz</a> <br>
              Email: <a href="mailto:leaddev@softech.kz">leaddev@softech.kz</a>
            </dd>

            <dt>Backend-разработчик: <span>Мади Маратов</span></dt>
            <dd>
              Телефон: <a href="tel:+77073199500">+7 (707) 319-95-00</a> <br>
              Email: <a href="mailto:backdev@softech.kz">backdev@softech.kz</a>
            </dd>

            <dt>Директор по развитию бизнеса: <span>Наталья Гурман</span></dt>
            <dd>
              Телефон: <a href="tel:+77779509025">+7 (777) 950-90-25</a> <br>
              Email: <a href="mailto:cbo@softech.kz">cbo@softech.kz</a>
            </dd>
          </dl>

          <article class="help-article">
            Если Вы обнаружили какую-либо проблему в CRM или вам недостает какого-то функционала для получения
            полноценного результата - отправьте свой запрос разработчикам на их почтовые адреса. Ваш запрос будет обработан
            и Вы в скором времени получите полноценный ответ. Прием заявок на обновление функционала, добавление новых пользователей,
            а также запросы на удаление и добавление каких-либо данных принимаются только в письменном виде на электронную почту
            <a href="mailto:crm@ordamed.kz">crm@ordamed.kz</a> (в копии письма обязательно должен стоять директор по развитию бизнеса Гурман Н.).
            Также задачу неоходимо будет добавить на доску "CRM Запросы" в Trello.
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
