<div class="client-list__component main__component">
  <div class="main__component__header display-flex display-flex-row">
    <h3 class="display-flex-1">Список проектов:</h3>
  </div>
  <form class="main__component__helper-panel">
    <select  name="company_filter" [(ngModel)]="currentCompanyID" (change)="getProjectsStagesOfCurrentCompany(currentCompanyID)">
      <option value="" disabled selected>-- Компания --</option>
      <option *ngFor="let c of user.company" [ngValue]="c.id">{{c.title}}</option>
    </select>
    <label >
      <span>Мои проекты:</span>
      <input type="checkbox" value="Мои проекты" name="my_projects_filter" [(ngModel)]="isMyProjects">
    </label>
    <p-calendar class='customHelperDatetimePicker'
                [locale]="ruLocale"
                [(ngModel)]="dateFilterStart"
                (onSelect)="getProjectsStagesOfCurrentCompany(currentCompanyID)"
                name="dateFilterStart"></p-calendar>
    <p-calendar class='customHelperDatetimePicker'
                [locale]="ruLocale"
                [(ngModel)]="dateFilterEnd"
                (onSelect)="getProjectsStagesOfCurrentCompany(currentCompanyID)"
                name="dateFilterEnd"></p-calendar>
    <select name="project_stage" [(ngModel)]="currentStageID">
      <option [ngValue]="null">Все стадии сделок</option>
      <option *ngFor="let s of projectsStages" [ngValue]="s.id">{{s.title}}</option>
    </select>
  </form>
  <div class="main__component__body">
    <div class="overflow-container-x">
      <table class="table-main">
        <thead>
          <tr>
            <th>Заголовок:</th>
            <th>Описание:</th>
            <th>Клиент:</th>
            <th>Статус:</th>
            <th>Стадия:</th>
            <th>Автор:</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of projectsList">
            <td>{{p.title}}</td>
            <td>{{p.description}}</td>
            <td>{{p.client.title}}</td>
            <td>{{p.statusLocale}}</td>
            <td>{{getProjectStage(p.stage_id)}}</td>
            <td>{{p.employee.fullname}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Заголовок:</th>
            <th>Описание:</th>
            <th>Клиент:</th>
            <th>Статус:</th>
            <th>Стадия:</th>
            <th>Автор:</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
