<div class="col-sm-1 col-md-2 col-lg-2">
  <div class="client-view__component main__component">
    <div class="main__component__header display-flex display-flex-row">
      <h3 class="display-flex-1">Описание клиента {{(client | async)?.title}}</h3>
      <button class="main__component__header__helper-button" pTooltip="Редактирование клиента"><span class="oi" data-glyph="pencil" [routerLink]="'/contacts/main/'+(client | async)?.id+'/edit'"></span></button>
      <button class="main__component__header__helper-button color-red" *ngIf="enableDeleteCurrentClient()" pTooltip="Удаление клиента" (click)="deleteClient(clientID)"><span class="oi" data-glyph="x"></span></button>
    </div>
    <div class="main__component__body">
      <div class="grid-row height-100">
        <div class="col-sm-1 col-md-2 col-lg-2">
          <dl class="client-view__component__list">
            <dt>Наименование клиента:</dt>
            <dd>{{(client | async)?.title}}</dd>

            <dt>Компания:</dt>
            <dd>{{(client | async)?.company.title}}</dd>

            <dt>Дата добавления:</dt>
            <dd>{{(client | async)?.datetime_created_format}}</dd>

            <dt>Автор:</dt>
            <dd *ngIf="client | async as clientInfo"><a (click)="showEmployeeInfo($event, clientInfo?.employee.id)">{{ (client | async)?.employee.fullname}}</a></dd>

            <dt *ngIf="(client | async)?.type">Тип клиента:</dt>
            <dd [ngSwitch]="(client | async)?.type">
              <span *ngSwitchCase="'fizlico'">Физическое лицо</span>
              <span *ngSwitchCase="'yurlico'">Юридическое лицо</span>
            </dd>

            <dt *ngIf="(client | async)?.type == 'fizlico'">Тип физического лица:</dt>
            <dd [ngSwitch]="(client | async)?.fizlico_type">
              <span *ngSwitchCase="'yp'">Индивидуальный предприниматель</span>
              <span *ngSwitchCase="'lpr'">ЛПР (Лицо принимающее решение)</span>
              <span *ngSwitchCase="'lvr'">ЛВР (Лицо влияющее на решение)</span>
            </dd>

            <dt *ngIf="(client | async)?.type == 'yurlico'">Форма юридического лица:</dt>
            <dd [ngSwitch]="(client | async)?.yurlico_form">
              <span *ngSwitchCase="'too'">ТОО</span>
              <span *ngSwitchCase="'ooo'">ООО</span>
              <span *ngSwitchCase="'tdo'">ТДО</span>
              <span *ngSwitchCase="'odo'">ОДО</span>
              <span *ngSwitchCase="'ao'">АО</span>
              <span *ngSwitchCase="'oao'">ОАО</span>
              <span *ngSwitchCase="'zao'">ЗАО</span>
              <span *ngSwitchCase="'gu'">ГУ</span>
              <span *ngSwitchCase="'fgp'">ФГП</span>
              <span *ngSwitchCase="'fgup'">ФГУП</span>
              <span *ngSwitchCase="'gup'">ГУП</span>
              <span *ngSwitchCase="'phv'">ПХВ</span>
              <span *ngSwitchCase="'mp'">МП</span>
              <span *ngSwitchCase="'kt'">КТ</span>
              <span *ngSwitchCase="'tszh'">ТСЖ</span>
              <span *ngSwitchCase="'chp'">ЧП</span>
            </dd>

            <dt *ngIf="(client | async)?.type == 'yurlico'">Тип юридического лица:</dt>
            <dd [ngSwitch]="(client | async)?.yurlico_type">
              <span *ngSwitchCase="'kom_org'">Коммерческая организация</span>
              <span *ngSwitchCase="'nekom_org'">Некоммерческая организация</span>
              <span *ngSwitchCase="'gos_pred'">Государственное предприятие</span>
              <span *ngSwitchCase="'gos_uchr'">Государственное учреждение</span>
            </dd>

            <dt>Реквизиты:</dt>
            <dd >{{ (client | async)?.requisite}}</dd>

            <dt>Адрес:</dt>
            <dd>{{ (client | async)?.street}}</dd>

            <dt>Почтовый индекс:</dt>
            <dd >{{ (client | async)?.postcode}}</dd>

            <dt *ngIf="(client | async)?.parent.id">Клиент-родитель:</dt>
            <dd *ngIf="(client | async)?.parent.id"><a [routerLink]="'/contacts/main/' + (client | async)?.parent.id">{{(client | async)?.parent.title}}</a></dd>

            <dt *ngIf="(client | async)?.phones && (client | async)?.phones.length > 0">Номера телфонов:</dt>
            <dd>
              <span *ngFor="let phone of (client | async)?.phones">{{getTypePhone(phone.type)}} - <a [href]="'tel:'+phone.number">{{phone.owner_name}} - {{phone.number}}</a> <br></span>
            </dd>

            <dt *ngIf="(client | async)?.emails && (client | async)?.emails.length > 0">Электронная почта:</dt>
            <dd>
              <span *ngFor="let mail of (client | async)?.emails">{{getTypeMail(mail.type)}} - <a [href]="'mailto:'+mail.address">{{mail.owner_name}} - {{mail.address}}</a> <br></span>
            </dd>

            <dt *ngIf="(client | async)?.customfields && (client | async)?.customfields.length > 0">Кастомные поля:</dt>
            <dd>
              <span *ngFor="let field of (client | async)?.customfields">{{field.key}} - {{field.value}} <br></span>
            </dd>
          </dl>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2 overflow-y">
          <div class="client-view__component__activities-list">

            <div class="grid-row">
              <div class="col-sm-2 col-md-2 col-lg-2">
                <button class="button-standard" (click)="showAddModal()">Добавить активность</button>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2">
                <p-toggleButton
                  onLabel="Мои активности"
                  offLabel="Все активности"
                  styleClass="button-standard button-help"
                  pTooltip="Переключите чтобы увидеть только свои активности или все активности данного клиента"
                  (onChange)="toggleActivityMode($event)"
                  [(ngModel)]="showOnlyMyActivity"></p-toggleButton>
              </div>
            </div>

            <app-activity-item *ngFor="let activity of clientActivities"
                               [activity]="activity"
                               [clientID]="clientID"
                               (onChangeActivity)="onEditActivity($event)"
                               (onTransitActivity)="onTransitActivity($event)">
            </app-activity-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-1 col-md-2 col-lg-2">
  <app-deals-kanban #dealComponent></app-deals-kanban>
</div>

<app-modal-standard #modalActivityAdd [title]="'Добавить активность текущему клиенту'">
  <app-activity-add #activityAddMainComponent (onCreate)="onCreateActivity($event)"></app-activity-add>
</app-modal-standard>

<app-employee-info #employeeInfoComponent></app-employee-info>

