.padding-top-bottom-none
  padding-top: 0 !important
  padding-bottom: 0 !important

.height-100
  height: 100% !important

.overflow-y
  overflow-y: auto !important
  overflow-x: hidden !important

  @include style-scrollbar