<div class="logo-block">
  <a [routerLink]='["/"]'>
    <img src="../../../assets/images/logo-small.png" alt="Логотип SalesMaster">
  </a>
  <div class="version-block">
    version - {{VERSION}}
  </div>
</div>
<div class="main-nav__component">
  <ul class="main-nav__component__menu">
    <li [class]="isActiveRoute('/desktop') ? 'active' : '' ">
      <a [routerLink]='["/desktop"]'>
        <span class="oi" data-glyph="grid-three-up"></span>
        Рабочий стол
      </a>
    </li>
    <li [class]="isActiveRoute('/contacts') ? 'active' : '' " >
      <a [routerLink]='["/contacts"]'>
        <span class="oi" data-glyph="people"></span>
        Контакты
      </a>
    </li>
    <li [class]="isActiveRoute('/analytics') ? 'active' : '' ">
      <a [routerLink]='["/analytics"]'>
        <span class="oi" data-glyph="pie-chart"></span>
        Аналитика
      </a>
    </li>
    <li [class]="isActiveRoute('/tasks') ? 'active' : '' ">
      <a [routerLink]='["/tasks"]'>
        <span class="oi" data-glyph="calendar"></span>
        Задачи
      </a>
    </li>
    <li [class]="isActiveRoute('/products') ? 'active' : '' ">
      <a [routerLink]='["/products"]'>
        <span class="oi" data-glyph="box"></span>
        Продукты
      </a>
    </li>
    <li [class]="isActiveRoute('/reports') ? 'active' : '' ">
      <a [routerLink]='["/reports"]'>
        <span class="oi" data-glyph="book"></span>
        Отчеты
      </a>
    </li>
    <li [class]="isActiveRoute('/file-manager') ? 'active' : '' ">
      <a [routerLink]='["/file-manager"]'>
        <span class="oi" data-glyph="file"></span>
        Файловый менеджер
      </a>
    </li>
    <!--<li>-->
      <!--<a href="">-->
        <!--<span class="oi" data-glyph="monitor"></span>-->
        <!--Администрирование-->
      <!--</a>-->
    <!--</li>-->
  </ul>

  <div class="offline-service-checker">
    <span [style.backgroundColor]="status != 'down' ? 'green' : 'red'"></span>{{status != 'down' ? 'Вы подключены' : 'Вы отключены'}}
  </div>
</div>
