<div class="taskline__component main__component">
  <div class="main__component__header">
    <h3>Лента задач</h3>
  </div>
  <form class="main__component__helper-panel">
    <select name="userSort" [(ngModel)]="userSort">
      <option [ngValue]="null">Все доступные задачи</option>
      <option [ngValue]="1">Где я исполнитель</option>
      <option [ngValue]="2">Где я автор</option>
    </select>
    <select name="statusSort" [(ngModel)]="statusSort">
      <option [ngValue]="null" disabled selected>-- Выберите статус --</option>
      <option [ngValue]="'failed'">Проваленные задачи</option>
      <option [ngValue]="'completed'">Выполненные задачи</option>
      <option [ngValue]="'in_progress'">Задачи в работе</option>
      <option [ngValue]="'verifying'">Задачи на проверке</option>
    </select>
  </form>
  <div class="main__component__body">
    <div class="taskline__component__item" *ngFor="let task of taskList">
      <article>
        {{task.title}} <br>
        {{task.desription}}
      </article>
      <dl class="taskline__component__metadata">
        <dt>Исполнитель:</dt>
        <dd><a href="">{{task.employee_doer.fullname}}</a></dd>

        <dt>Автор:</dt>
        <dd><a href="">{{task.employee_owner.fullname}}</a></dd>

        <dt>Статус:</dt>
        <dd [ngSwitch]="task.status">
          <span *ngSwitchCase="'in_progress'">В работе</span>
          <span *ngSwitchCase="'completed'">Выполнена</span>
          <span *ngSwitchCase="'failed'">Провалена</span>
          <span *ngSwitchCase="'verifying'">На проверке</span>
        </dd>

        <dt>Важность:</dt>
        <dd [ngSwitch]="task.priority">
          <span *ngSwitchCase="'cold'">Может подождать</span>
          <span *ngSwitchCase="'middle'">Плановая задача</span>
          <span *ngSwitchCase="'hot'">Срочная задача</span>
        </dd>

        <dt *ngIf="task.result">Результат:</dt>
        <dd *ngIf="task.result">
          {{task.result}}
        </dd>

        <dt>Дата создания:</dt>
        <dd>{{task.datetime_created_format}}</dd>

        <dt>Deadline:</dt>
        <dd>{{task.datetime_deadline_format}}</dd>
      </dl>
      <button *ngIf="task.employee_doer.id == user.id && task.status == 'in_progress'" (click)="openDoneTaskModal(task)">Выполнить</button>
      <button class="mt-small" *ngIf="task.employee_owner.id == user.id && task.status == 'verifying'" (click)="verifyTask(task)">Одобрить</button>
      <button class="mt-small" *ngIf="task.employee_owner.id == user.id && task.status == 'failed'">Продлить на 1 день</button>
    </div>
  </div>
</div>

<app-modal-standard #modalDoneTask [title]="'Выполнить задачу'">
  <form *ngIf="currentTask" [formGroup]="formDoneTask" (submit)="doneTask()">
    <div class="form-row">
      <label for="task-done-description">Результат выполненной задачи:</label>
      <textarea formControlName="result" class="textarea-add" name="task-done-description" id="task-done-description" rows="10">
      </textarea>
      <div class="error-block">
              <span *ngIf="formDoneTask.controls['result'].hasError('required')">
                Необходимо указать результат выполненной задачи.
              </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row">
        <input [disabled]="formDoneTask.invalid" type="submit" value="Выполнить задачу" class="button-standard">
      </div>
    </div>
  </form>
</app-modal-standard>

<app-modal-standard #modalToExtendTask>

</app-modal-standard>

