<div class="taskline__component main__component">
  <div class="main__component__header">
    <h3>Лента задач</h3>
  </div>
  <form class="main__component__helper-panel">
    <select>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
    </select>
    <select>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
    </select>
    <select>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
      <option value="">Option 1</option>
    </select>
  </form>
  <div class="main__component__body">
    <div class="taskline__component__item">
      <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum doloribus, fugit in iusto magnam necessitatibus obcaecati qui quidem? A aliquam culpa distinctio doloremque eveniet necessitatibus qui soluta tenetur voluptatum.
      </article>
      <dl class="taskline__component__metadata">
        <dt>Исполнитель:</dt>
        <dd><a href="">Егор кулик</a></dd>
        <dt>Автор:</dt>
        <dd><a href="">Абиш Абдельдинов</a></dd>
        <dt>Важность:</dt>
        <dd>Плановая задача</dd>
        <dt>Deadline:</dt>
        <dd>28 ноября 2018 г., 18:00</dd>
      </dl>
      <button>Выполнить</button>
    </div>
    <div class="taskline__component__item">
      <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum doloribus, fugit in iusto magnam necessitatibus obcaecati qui quidem? A aliquam culpa distinctio doloremque eveniet necessitatibus qui soluta tenetur voluptatum.
      </article>
      <dl class="taskline__component__metadata">
        <dt>Исполнитель:</dt>
        <dd><a href="">Егор кулик</a></dd>
        <dt>Автор:</dt>
        <dd><a href="">Абиш Абдельдинов</a></dd>
        <dt>Важность:</dt>
        <dd>Плановая задача</dd>
        <dt>Deadline:</dt>
        <dd>28 ноября 2018 г., 18:00</dd>
      </dl>
      <button>Выполнить</button>
    </div>
  </div>
</div>

