.modal-standard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.6);
  display: none;
}

.modal-standard-wrapper.on-open-modal{
  display: flex;
}

.modal-standard-wrapper > .modal-container {
  padding: 5px;
  background: white;
  box-sizing: border-box !important;
  max-width: 700px;
  width: 100%;
  max-height: 520px;
  overflow-y: auto;
}

.modal-standard-wrapper > .modal-container > h2,
.modal-standard-wrapper > .modal-container > h3 {
  margin: 5px 0 !important;
  padding: 0 10px !important;
  font-family: "PT Sans Caption", Arial, sans-serif !important;
  font-size: 1.4em !important;
}
