<form class="deal-add__component" [formGroup]="_formNewDeal" (submit)="addDeal()">
  <div class="form-row">
    <label for="deal-add-title">Заголовок проекта:</label>
    <input formControlName="title"  class="input-add" id="deal-add-title" type="text" placeholder="Введите наименования проекта"
           pTooltip="Укажите наименование вашего проекта">
    <div class="error-block">
      <span *ngIf="_formNewDeal.controls['title'].hasError('required')">
        Необходимо указать наименование проекта!
      </span>
    </div>
  </div>
  <div class="form-row">
    <label for="deal-add-stage">Стадия проекта:</label>
    <select class="input-add" id="deal-add-stage" formControlName="stage_id"
            pTooltip="Укажите стадию, в которую вы хотите добавить новый проект">
      <option value="null" selected disabled>-- Выберите стадию проекта --</option>
      <option *ngFor="let stage of metadata?.stages" [value]="stage.id">{{stage.title}}</option>
    </select>
    <div class="error-block">
      <span *ngIf="_formNewDeal.controls['stage_id'].hasError('required')">
        Необходимо указать стадию проекта!
      </span>
    </div>
  </div>
  <div class="form-row">
    <label for="deal-add-description">Описание проекта:</label>
    <textarea formControlName="description" class="textarea-add" id="deal-add-description" cols="10" rows="10"
              pTooltip="Укажите максимально подробное описание проекта"></textarea>
    <div class="error-block">
      <span *ngIf="_formNewDeal.controls['description'].hasError('required')">
        Необходимо указать описание проекта!
      </span>
    </div>
  </div>
  <div class="form-row">
    <label for="deal-add-total">Потенциальная стоимость проекта:</label>
    <input placeholder="Введите потенциальную сумму проекта" formControlName="total"  class="input-add" id="deal-add-total" type="text"
           pTooltip="Укажите потенциальную стоимость проекта">
  </div>
  <div class="form-row">
    <input [disabled]="_formNewDeal.invalid || addDealButtonEnable" class="button-standard" type="submit" value="Сохранить">
  </div>
</form>
