<form class="deal-add__component" [formGroup]="_formNewDeal" (submit)="addDeal()">
  <div class="form-row">
    <label for="deal-add-title">Заголовок сделки:</label>
    <input formControlName="title"  class="input-add" id="deal-add-title" type="text" placeholder="Введите наименования сделки">
    <div class="error-block">
      <span *ngIf="_formNewDeal.controls['title'].hasError('required')">
        Необходимо указать наименование сделки!
      </span>
    </div>
  </div>
  <div class="form-row">
    <label for="deal-add-stage">Стадия сделки:</label>
    <select class="input-add" id="deal-add-stage" formControlName="stage_id">
      <option value="null" selected disabled>-- Выберите стадию сделки --</option>
      <option *ngFor="let stage of metadata?.stages" [value]="stage.id">{{stage.title}}</option>
    </select>
    <div class="error-block">
      <span *ngIf="_formNewDeal.controls['stage_id'].hasError('required')">
        Необходимо указать стадию сделки!
      </span>
    </div>
  </div>
  <div class="form-row">
    <label for="deal-add-description">Описание сделки сделки:</label>
    <textarea formControlName="description" class="textarea-add" id="deal-add-description" cols="10" rows="10"></textarea>
    <div class="error-block">
      <span *ngIf="_formNewDeal.controls['description'].hasError('required')">
        Необходимо указать описание сделки!
      </span>
    </div>
  </div>
  <div class="form-row">
    <label for="deal-add-total">Потенциальная стоимость сделки:</label>
    <input placeholder="Введите потенциальную сумму сделки" formControlName="total"  class="input-add" id="deal-add-total" type="text">
  </div>
  <div class="form-row">
    <input [disabled]="_formNewDeal.invalid" class="button-standard" type="submit" value="Сохранить">
  </div>
</form>
