<div class="grid-row ">
  <div class="col-sm-1 col-md-3 col-lg-3">
    <app-clients-list></app-clients-list>
  </div>
  <!--<div class="col-sm-1 col-md-3 col-lg-3">-->
    <!--<div class="timeline__component main__component">-->
      <!--<div class="main__component__header">-->
        <!--<h3>Лента событий</h3>-->
      <!--</div>-->
      <!--<form class="main__component__helper-panel">-->
        <!--<select>-->
          <!--<option value="" disabled selected>&#45;&#45; Компания &#45;&#45;</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
        <!--</select>-->
        <!--<select>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
        <!--</select>-->
        <!--<select>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
          <!--<option value="">Option 1</option>-->
        <!--</select>-->
      <!--</form>-->
      <!--<div class="main__component__body">-->
        <!--<div class="timeline__component__item">-->
          <!--<div class="timeline__component__item-header">-->
            <!--28 ноября 2017 г., 18:34-->
          <!--</div>-->
          <!--<article class="timeline__component__item-body">-->
            <!--<a href="">Егор Кулик</a> добавил(-a) <a href="">активность</a>-->
            <!--"Сделал глобальное обновление" клиенту <a href="">SoftTech</a>-->
          <!--</article>-->
          <!--<article class="timeline__component__item-body">-->
            <!--<a href="">Егор Кулик</a> добавил(-a) <a href="">активность</a>-->
            <!--"Сделал глобальное обновление" клиенту <a href="">SoftTech</a>-->
          <!--</article>-->
          <!--<article class="timeline__component__item-body">-->
            <!--<a href="">Егор Кулик</a> добавил(-a) <a href="">активность</a>-->
            <!--"Сделал глобальное обновление" клиенту <a href="">SoftTech</a>-->
          <!--</article>-->
        <!--</div>-->
        <!--<div class="timeline__component__item">-->
          <!--<div class="timeline__component__item-header">-->
            <!--23 ноября 2017 г., 13:34-->
          <!--</div>-->
          <!--<article class="timeline__component__item-body">-->
            <!--<a href="">Егор Кулик</a> добавил(-a) нового клиента - <a href="">ТОО Рога и Копыта</a>-->
          <!--</article>-->
        <!--</div>-->
        <!--<div class="timeline__component__item">-->
          <!--<div class="timeline__component__item-header">-->
            <!--21 ноября 2017 г., 10:29-->
          <!--</div>-->
          <!--<article class="timeline__component__item-body">-->
            <!--Е<a href="">Егор Кулик</a> закрыл сделку по клиенту <a href="">Apple Inc.</a> - <a href="">Купить IPhone XXl</a>-->
          <!--</article>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="col-sm-1 col-md-3 col-lg-3">
    <div class="taskline__component main__component">
      <div class="main__component__header">
        <h3>Лента задач</h3>
      </div>
      <form class="main__component__helper-panel">
        <select>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
        </select>
        <select>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
        </select>
        <select>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
          <option value="">Option 1</option>
        </select>
      </form>
      <div class="main__component__body">
        <div class="taskline__component__item">
          <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum doloribus, fugit in iusto magnam necessitatibus obcaecati qui quidem? A aliquam culpa distinctio doloremque eveniet necessitatibus qui soluta tenetur voluptatum.
          </article>
          <dl class="taskline__component__metadata">
            <dt>Исполнитель:</dt>
            <dd><a href="">Егор кулик</a></dd>
            <dt>Автор:</dt>
            <dd><a href="">Абиш Абдельдинов</a></dd>
            <dt>Важность:</dt>
            <dd>Плановая задача</dd>
            <dt>Deadline:</dt>
            <dd>28 ноября 2018 г., 18:00</dd>
          </dl>
          <button>Выполнить</button>
        </div>
        <div class="taskline__component__item">
          <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum doloribus, fugit in iusto magnam necessitatibus obcaecati qui quidem? A aliquam culpa distinctio doloremque eveniet necessitatibus qui soluta tenetur voluptatum.
          </article>
          <dl class="taskline__component__metadata">
            <dt>Исполнитель:</dt>
            <dd><a href="">Егор кулик</a></dd>
            <dt>Автор:</dt>
            <dd><a href="">Абиш Абдельдинов</a></dd>
            <dt>Важность:</dt>
            <dd>Плановая задача</dd>
            <dt>Deadline:</dt>
            <dd>28 ноября 2018 г., 18:00</dd>
          </dl>
          <button>Выполнить</button>
        </div>
      </div>
    </div>
  </div>
</div>
