<div class="deals__component main__component">
  <div class="main__component__header display-flex display-flex-row">
    <h3 class="display-flex-1">Проекты клиента {{(client | async)?.title}}</h3>
    <label *ngIf="_type != 'standard'">
      Сортировка по компаниям:
      <select class="select-add not_full_height" name="currentCompanyID" [(ngModel)]="_currentCompanyID" (change)="onChangeCompany(_currentCompanyID)">
        <option *ngFor="let c of user.company" [ngValue]="c.id" >{{c.title}}</option>
      </select>
    </label>
    <label *ngIf="_type != 'standard'" class="ml-small">
      Сортировка по пользователям:
      <select class="select-add not_full_height" name="currentUserID" [(ngModel)]="_currentUserID" (change)="onChangeUser(_currentUserID)">
        <option *ngFor="let u of _userList" [ngValue]="u.id" >{{u.user.first_name + ' ' + u.user.last_name}}</option>
      </select>
    </label>
    <button *ngIf="_type == 'standard'" class="main__component__header__helper-button" (click)="showAddModal($event)"><span class="oi" data-glyph="plus"></span></button>
  </div>
  <div class="main__component__body">
    <div class="grid-row height-100">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <div class="deals__component__list" *ngIf="_dealStages">
          <div class="deals__component__container" *ngFor="let stage of _dealStages">

            <div class="deals__component__container__title">
              <h3>{{stage.title}}</h3>
            </div>

            <div class="drag-wrapper" [dragula]='"deals_kanban"' [dragulaModel]='_dealArraySortbale[stage.id]'>
              <div class="deals__component__item" *ngFor="let item of _dealArraySortbale[stage.id]" [id]="item.id">
                <div [ngSwitch]="item.status">
                  <div *ngSwitchCase="'in_process'" class="deals__item__status deals__item__status--work">
                    В работе
                  </div>
                  <div *ngSwitchCase="'failed'" class="deals__item__status deals__item__status--fail">
                    Провалена
                  </div>
                  <div *ngSwitchCase="'completed'" class="deals__item__status deals__item__status--done">
                    Завершенная
                  </div>
                </div>

                <h4>{{item.title}}</h4>

                <dt>Автор проекта:</dt>
                <dd>{{item.employee.fullname}}</dd>

                <dt>Клиент:</dt>
                <dd>{{item.client.title}}</dd>

                <button class="button-help mtb-small small-font" [routerLink]="'/contacts/main/deal/'+item.id+'/edit'">Редактировать</button>
                <button class="button-standard  small-font" [routerLink]='"/contacts/main/"+item.client.id+"/deal/"+item.id'>Подробнее</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-standard #dealAddModal [title]="'Добавления сделки к текущему клиенту'">
  <app-deal-add #dealAddComponent (onAddDeal)="onAddDeal($event)" [metadata]="dataToCreateDeal"></app-deal-add>
</app-modal-standard>
