<div class="deals__component main__component">
  <div class="main__component__header display-flex display-flex-row">
    <h3 class="display-flex-1">Сделки клиента {{(client | async)?.title}}</h3>
    <button class="main__component__header__helper-button"><span class="oi" data-glyph="plus"></span></button>
  </div>
  <div class="main__component__body">
    <div class="grid-row height-100">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <div class="deals__component__list">
          <div class="deals__component__container">

            <div class="deals__component__container__title">
              <h3>Контакты</h3>
            </div>

            <div class="deals__component__item">
              <div class="deals__item__status deals__item__status--work">
                В работе
              </div>

              <h4>Типичная сделка</h4>

              <a class="deals__component__item--link" href="#">Подробнее</a>
            </div>

            <div class="deals__component__item">
              <div class="deals__item__status deals__item__status--done">
                Завершена
              </div>

              <h4>Типичная сделка</h4>

              <a class="deals__component__item--link" href="#">Подробнее</a>
            </div>

            <div class="deals__component__item">
              <div class="deals__item__status deals__item__status--fail">
                Провалена
              </div>

              <h4>Типичная сделка</h4>

              <a class="deals__component__item--link" href="#">Подробнее</a>
            </div>
          </div>
          <div class="deals__component__container">
            <div class="deals__component__container__title">
              <h3>КП</h3>
            </div>
          </div>
          <div class="deals__component__container">
            <div class="deals__component__container__title">
              <h3>Торг</h3>
            </div>
          </div>
          <div class="deals__component__container">
            <div class="deals__component__container__title">
              <h3>Договор</h3>
            </div>
          </div>
          <div class="deals__component__container">
            <div class="deals__component__container__title">
              <h3>Доставка</h3>
            </div>
          </div>
          <div class="deals__component__container">
            <div class="deals__component__container__title">
              <h3>Обслуживание</h3>
            </div>
          </div>
          <div class="deals__component__container">
            <div class="deals__component__container__title">
              <h3>Оплата</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
