<div class="client-list__component main__component">
  <div class="main__component__header display-flex display-flex-row">
    <h3 class="display-flex-1">Список активностей</h3>
  </div>
  <form class="main__component__helper-panel">
    <select  name="company_filter" [(ngModel)]="currentCompany" (change)="getActivity()">
      <option value="" disabled selected>-- Компания --</option>
      <option *ngFor="let c of user.company" [ngValue]="c.id">{{c.title}}</option>
    </select>
    <label >
      <span>Мои активности:</span>
      <input type="checkbox" value="Мои активности" name="my_activities_filter" [(ngModel)]="isMyActivity">
    </label>
    <p-calendar class='customHelperDatetimePicker'
                [locale]="ruLocale"
                [(ngModel)]="dateFilterStart"
                (onSelect)="getActivity()"
                name="dateFilterStart"></p-calendar>
    <p-calendar class="customHelperDatetimePicker"
                [locale]="ruLocale"
                [(ngModel)]="dateFilterEnd"
                (onSelect)="getActivity()"
                name="dateFilterEnd"></p-calendar>
    <select name="activity_type" [(ngModel)]="currentActivityType">
      <option [ngValue]="null">Все типы активностей</option>
      <option *ngFor="let t of activitiesTypes" [ngValue]="t.title">{{t.title}}</option>
    </select>
  </form>
  <div class="main__component__body">
    <div class="overflow-container-x">
      <table class="table-main">
        <thead>
          <tr>
            <th>Описание:</th>
            <th>Тип активности:</th>
            <th>Клиент:</th>
            <th>Автор:</th>
            <th>Дата:</th>
            <th>Проект:</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activitiesList">
            <td>{{activity.description}}</td>
            <td>{{activity.type_title}}</td>
            <td>{{activity.client.title}}</td>
            <td>{{activity.employee.fullname}}</td>
            <td>{{activity.string_datetime_created}}</td>
            <td>{{activity.deal ? activity.deal.title : 'Активность внутри клиента'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Описание:</th>
            <th>Тип активности:</th>
            <th>Клиент:</th>
            <th>Автор:</th>
            <th>Дата:</th>
            <th>Проект:</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
