.grid-row-small-max-height {
  height: auto !important;
}

.grid-row-small-max-height > * {
  max-height: 120px !important;
  height: 120px !important;
}

.file-manager-directory-link {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.document_directory_link_delete {
  position: absolute;
  top: -5px;
  right: 0;
  color: #da314b;
  font-size: 1.3em !important;
  margin: 0 !important;
}

.document_directory_link_delete:hover {
  cursor: pointer !important;
}

.file-manager-directory-link > span.oi {
  font-size: 2em;
  display: inline-block;
  margin: 5px auto;
}

.file-manager-directory-link > img {
  max-width: 32px;
  width: 32px;
  max-height: 42px !important;
}

.file-manager-directory-link > a {
  display: block;
  text-decoration: none;
  line-height: 1em;
  text-overflow: ellipsis;
  padding: 3px;
  word-wrap: break-word;
}
