<div class="login__component">
  <form class="login__component__form" (submit)="loginUser()">
    <img src="../../../assets/images/logo-small.png" alt="" class="login__component__logo">

    <label for="login">EMAIL</label>
    <input id="login" name="login" type="text" [(ngModel)]="loginInfo.username" placeholder="Ваш email...">

    <label for="password">PASSWORD</label>
    <input id="password" name="password" type="password" [(ngModel)]="loginInfo.password" placeholder="Ваш пароль...">

    <input type="submit" value="Войти">

    <a (click)="openForgotPasswordModal($event)" class="forgot-password-link">Забыли пароль?</a>
  </form>
</div>

<app-modal-standard #forgotPasswordModal [title]="'Восстановление пароля'">
    <form class="activity-add__component">
        <div class="form-row">
            <label for="email-forgot-password">Укажите свой почтовый ящик:</label>
            <input [(ngModel)]="usernameForgotPassword" type="email" name="email-forgot-password" id="email-forgot-password" placeholder="Почтовый адрес" class="input-add">
        </div>
        <div class="form-row">
            <label for="code-forgot-password">Укажите код проверки:</label>
            <input type="text" [(ngModel)]="codeResetForgotPassword" name="code-forgot-password" id="code-forgot-password" placeholder="Код проверки" class="input-add">
        </div>
        <div class="form-row">
            <input (click)="getCode($event)" type="submit" value="Запросить код подтверждения" class="button-standard">
        </div>
        <div class="form-row">
            <input [disabled]="!(codeResetForgotPassword.length >= 30)" (click)="resetPassword($event)" type="submit" value="Сбросить пароль" class="button-standard">
        </div>
    </form>
</app-modal-standard>
